.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box, blue;
    flex: flex;
    background-color: black;
}

.body .background-image {
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Creating the divisors */ 

.gif-container {
    position: flex;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 80%;
    height: 80%;
   
}

.img {
    position: flex;
    height: 100%;
}

.picker
{
    height: 80%;
    flex: 1; /*that make us see the colors of the sections */
    display: flex; /*put everything in the same row*/
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.picker {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
    

}

/*Use this to see the canvas that were created */


/*creating and stylizing a round button*/

.picker button {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 5px solid black;
    overflow: hidden;
    cursor: pointer;
}

.picker button:hover {
    border-color: #7a7a7a7a;
}

@media all and (max-width:30em) {
    .picker button {
        display: block;
        margin: 0.2em auto;
    }
}

.picker button img {
    height: 100%;
}


